//Color scheme
$white: #FFFFFF;
$black: #000000;
$sable: #060606;
$charcoal: #505050;
$tangerine: #FFAF6D;
$orange: #FFA500;
$purple: #5e118d;

//Typography

//Typefaces
$ubuntu: 'Ubuntu', sans-serif;
$poppins: 'Poppins', sans-serif;

$fw-regular: 400;
$fw-bold: 700;

//Font sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//Breakpoints
$min-desktop: 992px;
