//main layout
.grid-container {
  padding: 0.5rem 0.5vw;
  & .grid-item {
    border: 1px solid $sable;
    padding: 1rem;
    margin: 0.75rem 0;
  }
  @include breakpoint($min-desktop) {
    & .grid-item {
      margin: 0;
    }
  }
}
//layout of the article section
.article {
  border: 1px dotted $charcoal;
  margin: 0.5rem 0;
  padding: 0.5rem;
  &__image {
    margin-bottom: 1rem;
  }
  &__body {
    h2 {
      margin-bottom: 1rem;
    }
    p {
      text-align: justify;
      margin-bottom: 1rem;
    }
    h4 {
      margin-bottom: 1rem;
    }
  }
  &__footer {
    font-size: $large;
    & .footer-icon {
      margin-right: 0.3rem;
    }
  }
  @include breakpoint($min-desktop) {
    &__image {
      margin-bottom: 0.75rem;
    }
    &__body {
      h2 {
        margin-bottom: auto;
      }
      p {
        margin-bottom: 0.5rem;
      }
      h4 {
        margin-bottom: auto;
      }
    }
    &__footer {
      font-size: $x-small;
    }
  }
}
//layout of the section on the right
.section {
  &__header {
    margin-bottom: 0.5rem;
    text-align: center;
    & .header-img {
      border-radius: 50%;
      border: 1px solid $sable;
      width: 16rem;
      height: 16rem;
      margin-bottom: 1rem;
    }
    & .header-icons {
      & .icon {
        margin: 0 0.4rem;
        color: $black;
        font-size: $x-large;
      }
    }
  }
  &__body {
    text-align: justify;
    p {
      margin-bottom: 1rem;
    }
  }
  &__footer {
    & .footer-title {
      background-color: $charcoal;
      text-align: center;
      margin-bottom: 1rem;
      h3 {
        line-height: 1.8;
      }
    }
    & .footer-list {
      display: flex;
      flex-direction: column;
      &__item {
        line-height: 1.7;
        i {
          -webkit-transform: scale(0.5);
              -ms-transform: scale(0.5);
                  transform: scale(0.5);
        }
      }
    }
  }
  &__animation {
    padding-top: 1.5rem;
    svg {
      display: block;
      margin: 0 auto;
      width: 300px;
      & .animation-group {
        & .etiqueta {
          animation-name: animate-code;
          animation-duration: 4s;
          animation-iteration-count: infinite;
        }
        & .tuerca__interna {
          animation-name: animate-gear;
          animation-duration: 4s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }
        & .tuerca__externa {
          animation-name: animate-gear;
          animation-duration: 4s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }
      }
    }
  }
  @include breakpoint($min-desktop) {
    &__header {
      & .header-img {
        width: 10rem;
        height: 10rem;
      }
      & .header-icons {
        & .icon {
          margin: 0 0.25rem;
          font-size: $medium;
        }
      }
    }
    &__body {
      p {
        margin-bottom: 0.5rem;
      }
    }
    &__footer {
      & .footer-title {
        margin-bottom: auto;
      }
      & .footer-list {
        &__item {
          line-height: normal;
        }
      }
    }
    &__animation {
      svg {
        width: 180px;
      }
    }
  }
}
//anchor point for scrolling purpose
a.anchor {
    display: block;
    position: relative;
    top: -98px;
    visibility: hidden;
    @include breakpoint($min-desktop) {
      top: -72px;
    }
}
